*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

html body button {
  cursor: pointer;
}

html body a {
  text-decoration: none;
}

html body header {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
}

html body header nav a {
  color: white;
}

html body header img {
  width: 15%;
}

html body header button {
  position: relative;
  padding: .5em 2em;
}

html body main {
  position: relative;
  width: 100%;
  height: 90%;
}

html body main video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html body main form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5em;
  color: white;
}

html body main form label {
  font-size: 2.5em;
}

html body main form input {
  position: relative;
  padding: .5em 1em;
  outline: none;
  border: 0.02em solid gray;
  width: 25em;
  border-radius: 0.5em;
}

html body main form button {
  position: relative;
  padding: .7em 2em;
}

html body section {
  position: relative;
  width: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

html body section aside {
  position: relative;
  width: 100%;
  text-align: center;
}

html body section #container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

html body section #container article {
  position: relative;
  -ms-flex-preferred-size: 15em;
      flex-basis: 15em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 20em;
  border-radius: 0.5em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .3em;
  border: 0.1em solid gray;
}

html body section #container article img {
  height: 50%;
}

html body footer {
  position: relative;
  width: 100%;
  background: black;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3em 4em;
}

html body footer h1 {
  width: 100%;
}

html body footer section {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2em;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body footer section menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
}

html body footer section menu a {
  color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */